<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.prison">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:screenOrientation="portrait"
        android:smallScreens="true" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".ui.welcome.WelcomeActivity"> -->
        <activity android:name=".ui.welcome.WelcomeActivity">
            <intent-filter android:priority="2">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActicity" />
        <activity
            android:name=".ui.hotel.InfoActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.live.LiveActivity" />
        <activity android:name=".ui.live.IPLiveActivity" />
        <activity android:name=".ui.video.play.ResAudio" />
        <activity android:name=".ui.video.play.ResImage" />
        <activity android:name=".ui.video.play.ResVideo" />
        <activity android:name=".ui.video.play.ResTxt" />
        <activity android:name=".ui.food.FoodActivity" />
        <activity
            android:name=".ui.app.AppActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.msg.EmailActivity" />

        <service android:name=".service.BgService" />

        <activity android:name=".ui.ad.PlanActivity" />
        <activity android:name=".ui.ad.MsgWebActivity" />
        <activity android:name=".ui.ad.ResInsertActivity" />
        <activity android:name=".ui.ad.MsginsActivity" />
        <activity android:name=".ui.ad.NowinsActivity" />
        <activity android:name=".ui.ad.WeekActivity" />
        <activity
            android:name=".ui.yiyuan.YiyuanActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.zhinan.ZhinanActivity" />
        <activity android:name=".ui.zhinan.IntroduceActivity" />
        <activity android:name=".ui.live.RecordActivity" />
        <activity android:name=".ui.help.HelpActivity" />

        <activity
            android:name=".ui.set.SetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.res.ResActivity" />
        <activity android:name=".ui.res.ResActivity2" />
        <activity android:name=".ui.res.ResActivity3" />

        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.news.NewsWeb" />

        <!--<receiver android:name=".tools.AutoStart">-->
        <!--<intent-filter android:priority="2147483646">-->
        <!--<action android:name="android.intent.action.PACKAGE_REPLACED" />-->
        <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

        <!--<data android:scheme="package" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <receiver android:name=".tools.AutoStart">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>